<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio - Tres Tartas</title>
  </head>
  <body>
    <div>
      <h1>Bienvenidos a Tres Tartas!!</h1>
      <h2>Productos Disponibles</h2>
      <ul id="productList">
        {{#each products}}
          <li>{{this.title}} - {{this.price}}</li>
        {{/each}}
      </ul>
    </div>
  </body>
</html>