<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tres Tartas</title>
  </head>
  <body>
    <h1>Nuestros Productos</h1>
    <ul id="productList">
      {{#each products}}
        <li>{{this.title}} - {{this.price}}</li>
      {{/each}}
    </ul>
    <form id="productForm">
      <input type="text" id="title" placeholder="Título" required />
      <input type="number" id="price" placeholder="Precio" required />
      <button type="submit">Agregar Producto</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/realTimeProducts.js"></script>
  </body>
</html>